<h1>New Deck</h1>
<%= form_with url: "/deck/create", method: :post, data: {turbo: false} do |form| %>
  <div class="form-label">
  <%= form.label :name, "Name:" %>
  </div>
  <div class="form-input">
  <%= form.text_field :name %>
  </div>
  <div class="form-input">
    <%= form.label "Private?"%>
  </div>
  <div class="form-input">
    <%= form.check_box :private %>
  </div>
  <div class="submit-button">
  <%= form.submit "Submit" %>
  </div>
<% end %>
