<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1 class="app-title">Flashcards</h1>
    <div class="app-links">
      <% if session[:user_id].nil? %>
        <div class="app-link"><%= link_to 'Login', controller: 'session', action: 'new' %></div>
      <% else %>
        <div class="app-link"><%= link_to 'Logout', controller: 'session', action: 'destroy' %></div>
      <% end %>
      <div class="app-link"><%= link_to 'Decks', controller: 'deck', action: 'index' %></div>
      <% unless session[:user_id].nil? %>
        <div class="app-link"><%= link_to 'New Deck', controller: 'deck', action: 'new' %></div>
      <% end %>
    </div>
    <div class="app-content">
      <%= yield %>
    </div>
  </body>
</html>
